<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Improve your product with solutions from global crowd">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">    
    <title>SolverBay</title>

    <!-- favicons generetad at realfavicongenerator.net -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png.">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <link rel="mask-icon" href="/resource/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/resource/favicon.ico">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

    <!-- HEADER  -->
    <header class="homeHeader">
        <nav class="rowCSS">
            <a href="/"><img class="logoWhite" src="/images/logoWhite.png" alt="logoWhite"></a>
            <ul class="homeNavbar"> 
                <% if (currentUser)  { %>
                    <li class="homepageUser"><%= currentUser.username %></li>
                    <li><a href="/logout">Logout</a></li>
                <% } else { %>                       
                    <li><a href="/login">Log in</a></li>
                    <li><a href="/register">Sign up</a></li>
                <% } %> 
            </ul> 
        </nav>
        
        <div class="rowCSS">
            <% if (messages && messages.length > 0) { %>
                <div class="flashMessages">
                    <p><%= messages %></p>
                </div>
            <% } %>
        </div>

        <div class="headerText">            
            <h1>Small challenges, big solutions</h1>
            <p>Improve your product with solutions from global crowd</p>
            <a class="btn btnFull" href="/challenges/new">Post a challenge</a>
            <div class="newsletterDiv">
                <form class="newsletterForm" action="/newsletter" method="POST">or 
                    <input type="email" name="email" required placeholder="Join new challenges newsletter" maxlength="62">
                    <input id="newsletterBtn" type="submit" value="Join">
                </form>
            </div>            
        </div>
    </header>

    <!-- SECTION ACTIVE CHALLENGES  -->
    <section class="activeChallenges">        
        <div class="rowCSS">
            <h2>Last 4 active challenges</h2>
        </div>

        <div class="container">           
            <div class="row">
                <% var challengesArr = []; %>
                <% for (var i = 0; i < allChallenges.length; i++) { %>
                    <% var paid = allChallenges[i].isPaid %>
                    <% if (paid) { %>
                        <% challengesArr.push(allChallenges[i]) %>
                    <% } %>
                <% } %>
                <% var challenges = challengesArr.slice(0, 4); %>                    
                <% for (var i = 0; i < challenges.length; i++) { %>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="challengesBox">
                            <h3><%= challenges[i].title %></h3>
                            <hr>
                            <div>
                                <p>PRIZE: <span><%= challenges[i].prize %>
                                <% if (challenges[i].currency == "EUR") { %>
                                    €
                                <% } else { %>
                                    $
                                <% } %>                                 
                                </span></p>
                                <p class="timer">ENDS:
                                    <div class="challengeDate"><%= challenges[i].date %></div>
                                    <span class="day"></span><span class="textDay">days</span>
                                    <span class="hour"></span>h
                                    <span class="min"></span>m
                                    <span class="sec"></span>s
                                </p>
                            </div>                        
                            <hr>
                            <a class="btn btnFull" href="/challenges/<%= challenges[i]._id %>">Solve it</a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        
        <div class="rowCSS allChallengesBtn">
            <a class="btn btnGhost" href="/challenges">See all challenges</a>
        </div>
    </section>

    <!-- SECTION HOW IT WORKS  -->
    <section class="sectionHowWorks">            
        <div class="rowCSS">
            <h2>How it works</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-6 howItWorks">
                    <h3></p>Challenger</h3>
                    <div>
                        <i class="fa fa-rocket fa-4x" aria-hidden="true"></i>
                        <p>Need help developing your product?</p>
                    </div>
                    <div>
                        <i class="fa fa-users fa-4x" aria-hidden="true"></i>
                        <p>Challenge &amp; find smart people around the world</p>
                    </div>
                    <div>
                        <i class="fa fa-clock-o fa-4x" aria-hidden="true"></i>
                        <p>Get solutions quickly, max 30 days</p>
                    </div>
                    <div>
                        <i class="fa fa-thumbs-o-up fa-4x" aria-hidden="true"></i>
                        <p>Get many solutions and confirm the best one</p>
                    </div>
                </div>

                <div class="col-sm-6 howItWorks">
                    <h3>Solver</h3>
                    <div>
                        <i class="fa fa-book fa-4x" aria-hidden="true"></i>
                        <p>Have lost of knowledge, experiences or ideas?</p>
                    </div>
                    <div>
                        <i class="fa fa-pencil-square-o fa-4x" aria-hidden="true"></i>
                        <p>Solve challenges and compete with others</p>
                    </div>
                    <div>
                        <i class="fa fa-coffee fa-4x" aria-hidden="true"></i>
                        <p>Find contacts for new cooperations</p>
                    </div>                    
                    <div>
                        <i class="fa fa-money fa-4x" aria-hidden="true"></i>
                        <p>Win and collect the prize</p>
                    </div>            
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER  -->
    <footer>            
        <div class="rowCSS">
            
            <ul class="footer-nav">
                <li><a href="terms">Terms & Conditions</a></li>
                <!-- <li><a href="#">Blog</a></li>
                <li><a href="#">Press</a></li> -->
            </ul>
            
            <p>Copyright &copy; 2018 by SolverBay. All rights reserved.</p>
                
        </div>
          
    </footer>

    <script src="/javascript/main.js"></script>
    
</body>
</html>