<% include ../partials/header %>

<div class="rowCSS newChallenge">
        <div>
            <h3>Edit solution: "<%=foundChallenge.title%>"</h3>
        </div>    
    
        <form action="/challenges/<%= foundChallenge._id %>/solutions/<%= foundSolution._id %>?_method=PUT" method="POST">
            <div>
                <label for="challengeTitle">Title</label>
                <input type="text" name="solutionTitle" class="challengeTitle" maxlength="62" required value="<%= foundSolution.solutionTitle %>">
            </div>
    
            <div>
                <label for="challengeDescription">Your solution<span class="challengeExplanations"> (max 1200 characters)</span></label>
                <textarea name="solutionText" class="challengeDescription" rows="12" maxlength="1200" required><%= foundSolution.solutionText %></textarea>
            </div>
            
            <div>
                <input type="submit" class="btn btnFull" value="Update">
            </div>          
              
        </form>
    </div>

<% include ../partials/footer %>