<% include ../partials/header %>

<div class="indexWrapper">
    <div class="rowCSS">
        <h2>List of all challenges</h2>
    </div>

    <div class="rowCSS">
        <% challenges.forEach(function(challenge) { %>
            <% var paid = challenge.isPaid %>
            <% if(paid) { %>                               
                <div class="indexChallenges">
                    <h3><%= challenge.title %></h3>
                    <div>
                        <p class="indexPrize">PRIZE: <b><%= challenge.prize %>€</b></p>
                        <div class="timer">ENDS:
                            <div class="challengeDate"><%= challenge.date %></div>
                            <!-- <span class="day"></span> days -->
                            <span class="hour"></span>h
                            <span class="min"></span>m
                            <span class="sec"></span>s
                        </div>
                    </div>                
                    <p><%= challenge.description.substring(0, 220) %>...</p>
                    <p class="author">posted by <%= challenge.author.username %></p>            
                    <a class="btn btnFull" href="/challenges/<%= challenge._id %>">Solve it</a>
                </div>
            <% } %> 
        <% }); %>
    </div>
</div>


<% include ../partials/footer %>