<% include ../partials/header %>

<div class="rowCSS showChallenge">
    <h3><%= foundChallenge.title %></h3>
    <p class="showPrize">PRIZE: <b><%= foundChallenge.prize %>€</b></p>
    <div class="timer">ENDS:
        <div class="challengeDate"><%= foundChallenge.date %></div>
        <!-- <span class="day"></span> days -->
        <span class="hour"></span>h
        <span class="min"></span>m
        <span class="sec"></span>s
    </div>
    <p><%= foundChallenge.description %></p>
    <p class="author">posted by <%= foundChallenge.author.username %></p>
    
    <% if(currentUser && foundChallenge.author.id.equals(currentUser._id)) { %>
        <a class="btn btnFull" id="showChallengeEdit" href="/challenges/<%=foundChallenge._id%>/edit">Edit</a>
        <form method="POST" action="/challenges/<%= foundChallenge._id %>?_method=DELETE">
            <input type="submit" class="btn btnFull" value="Delete">
        </form>
    <% } %>

    <div>
        <a class="btn btnFull" href="/challenges/<%=foundChallenge._id%>/solutions/new">Post a solution</a>
    </div>    
</div>

<div class="showSolutions">
    <div class="rowCSS">      
        <% foundChallenge.solutions.forEach(function(solution) { %>
            <div class="solutionBox">
                <div>
                    <p><%= solution.solutionTitle %></p> 
                    <p><%= solution.solutionText %></p>
                    <p class="author">posted by <%= solution.author.username %></p>
                </div>
                <div>
                    <% if(currentUser && solution.author.id.equals(currentUser.id)) { %>
                        <a class="btn btnFull" href="/challenges/<%=foundChallenge._id%>/solutions/<%= solution._id%>/edit">Edit</a>
                        <form method="POST" action="/challenges/<%= foundChallenge._id %>/solutions/<%= solution._id %>?_method=DELETE">
                            <input type="submit" class="btn btnFull" value="Delete">
                        </form>
                    <% } %>
                </div>       
            </div>
        <% }); %>
    </div>         
</div>

<% include ../partials/footer %>