<% include ../partials/header %>

<div class="rowCSS showChallenge">
    <h3><%= foundChallenge.title %></h3>
    <p class="showPrize">PRIZE: <b><%= foundChallenge.prize %>€</b></p>
    <p class="showDate">END DATE: <b><%= foundChallenge.date %></b></p>
    <p><%= foundChallenge.description %></p>
    <p class="author">posted by <%= foundChallenge.author.username %></p>
    <div>
        <a class="btn btnFull" href="/challenges/<%=foundChallenge._id%>/solutions/new">Post a solution</a>
    </div>    
</div>

<div class="showSolutions">
    <div class="rowCSS">      
        <% foundChallenge.solutions.forEach(function(solution) { %>
            <div class="solutionBox">
                <div>
                    <p><%= solution.solutionTitle %></p> 
                    <p><%= solution.solutionText %></p>
                    <p class="author">posted by <%= solution.author.username %></p>
                </div>
                <div>
                    <a class="btn btnFull" href="/challenges/<%=foundChallenge._id%>/solutions/<%= solution._id%>/edit">Edit</a>
                    <form method="POST" action="/challenges/<%= foundChallenge._id %>/solutions/<%= solution._id %>?_method=DELETE">
                        <input type="submit" class="btn btnFull" value="Delete">
                    </form>
                </div>       
            </div>
        <% }); %>
    </div>         
</div>

<% include ../partials/footer %>